/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}


header nav {
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:baseline;
    margin-top:40px;
    margin-bottom:40px;
}

.img{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:40px 40px;
}

.services-middle{
    display:flex;
    justify-content:center;
}

.services{
    height:80%;
    width:80%;
    display:flex;
    flex-wrap:wrap;
    margin:40px 40px;
}

.services h1 {
    font-size:30px;
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.services p{
    display:flex;
    flex-wrap:wrap;   
}

.--{
    display:flex;
    justify-content:center;
}

.box-content h1{
    font-size:20px
}

.box-content button{
    background-color:white;
    border: 1px solid black;
    height: 35px;
    width: 150px;
    padding: 8px;
}

.box-content div{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.box-content{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    margin:40px 40px;
}

.design {
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}

.UX{
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}
.Digital-Marketing{
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}
.web-development{
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}
.iosDEV{
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}
.androidDEV{
    background-color:#DFD6D6;
    height:40%;
    width:40%;
    border:1px solid black;
    padding:20px;
    margin:20px 20px;
}

.---{
    display:flex;
    justify-content:center;
    margin:40px 40px;
}

.bottom{
    margin-bottom:100px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

.bottom-info{
    height:45%;
    width:45%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
}

.bottom-info h1 {
    font-size:30px;
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
}

.bottom-info p{
    display:flex;
    flex-wrap:wrap;   
}

.bottom-image{
    height:45%;
    width:45%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row-reverse;
    margin: 40x 40x;
}
footer p{
    font-size:20px;
    display:flex;
    justify-content:center;
}